<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2 mt-3">
        <h2>Edit Your Details</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listings[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Title Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listings[description]" type="text" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            Original Image <br>
            <img src="<%= originalImageUrl %>" />
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload new image</label>
            <input name="listings[image]" type="file" class="form-control" >
        </div>
        <div class="row">
            <div class="mb-3 col-md-3">
                <label for="price" class="form-label">Price</label>
                <input name="listings[price]" value=<%= listing.price %> type="number" class="form-control" required>
                <div class="invalid-feedback">Price should be Valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listings[country]" value=<%= listing.country %> type="text" class="form-control" required>
                <div class="invalid-feedback">Country name should be Valid</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listings[location]" value=<%= listing.location %> type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be Valid</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listings[category]" class="form-control" id="category" required>
                <option value="<%= listing.category %>" selected><%= listing.category %></option>
                <option value="Home">Home</option>
                <option value="Iconic">Iconic</option>
                <option value="Mountains">Mountains</option>
                <option value="Castle">Castle</option>
                <option value="Pools">Pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Beaches">Beaches</option>
                <option value="Arctic">Arctic</option>
                <option value="Villa">Villa</option>
            </select>
        </div>
        <button class="btn btn-dark add-btn mt-3">Edit</button>
    </form> 
    </div>
</div>
    
